header{
    width: 100%;
    color: #ffffff;
}

.main-header {
    width: 100%;
    position: relative;
}

.header-background {
    width: 100%;
}

.header-background img {
    width: 100%;
    height: 47rem;
    object-fit: cover;
}
 
.black {
    width: 100%;
    height: 47rem;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
}

.container-Header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.first-header {
    display: flex;
    width: 100%;
    padding: 2rem;
}

.first-header img {
    width: 12rem;
} 

nav {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
}

nav ul {
    display: flex;
    list-style: none;
    background-color: white;
    border-radius: .5rem;
}


nav li a {
    text-decoration: none;
    font-size: 1.7rem;
    color: black;
    cursor: pointer;
    padding: 0 2.5rem;
    transition: background-color 0.8s ease-in-out, color 0.3s ease-in-out;
}

.menu-1 {
    border-radius: .4rem;
    margin-left: 0;
    padding: 0 2rem;
    background-color:#3C3838;
}

.menu-1 a{
    color: #ffffff;
}


.first-header{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Text-header{
    /* border: 2px solid red; */
    width: 100%;
}

.Text-header p{
    width: 100%;
    /* border: 2px solid green; */
    text-align: center;
    font-size: 4rem;
}

.a{
    color: #ED2929;
}

.heacer-List {
    /* border: 2px solid green; */
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

.heacer-List p {
    font-size: 1.1rem;
    margin: 0 1rem;
    padding: .1rem 1.3rem;
    border-radius: .4rem;
    background: #E35B5B;
}

@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width: 768px) {
    html{
        font-size: 48%;
    }
  }

@media (max-width:500px){
    html{
        font-size: 49%;
    } 

    nav{
        display: none;
    }
    
    .heacer-List p {
        font-size:1.8rem;
    }
}
