.manga-main{
    /* border: 3px solid red; */
    width: 90%;
    margin-top: 7rem;
    padding: 5rem;
    background: #3B3838;
    color: white;
    border-radius: 0 6rem 6rem 0;
    letter-spacing: .22rem;
    line-height: 2.5rem;
}
.manga-main h2 {
    width: 70%;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.manga-text{
    font-size: 1.3rem;
    display: flex;
}

.manga-text img{
    margin-left: 5rem;
    width: 17rem;
}


@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width: 768px) {
    html{
        font-size: 48%;
    }
  }

@media (max-width:610px){
    .manga-text img{
        height: 18rem;
    }
}

@media (max-width:470px){
    .manga-main{
        width: 100%;
        border-radius: 0 0 0 0;
    }

    .manga-text{
        display: block;
    }
    .manga-main h2 {
        width: 100%;
        text-align: center;
        font-size: 4rem;
    }
    
    .manga-text{
        font-size: 2.2rem;
        line-height: 3rem;
    }

    .charlotte {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .manga-text img{
        margin-top: 4rem;
    }
}
